<!DOCTYPE html>
<html>
<head>
	<title>WIP - Inteligencia artificial aplicada al arte</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
		body {
		 background-image: url("/static/background.jpg");
		 background-color: #cccccc;
		 margin:150px;
		}
	</style>

</head>

<body>
	<h1>Mi PC dijo una vez</h1>
	{% for line in generated_text %}
	    <p>{{line}}</p>
	{% endfor %}
</body>

</body>
</html>
